@model NextBirthday.Models.Birthday

@{
    ViewBag.Title = "Födelsedagen bortagen";
}

<h1>Födelsedagen borttagen</h1>

<p>
    Födelsedagen har tagits bort.
</p>
<p>
    @Html.ActionLink("Tillbaka till lista med födelsedagar", "Index")
</p>
