@model NextBirthday.Models.Birthday

@{
    ViewBag.Title = "Redigera födelsedag";
}

<h1>Redigera födelsedag</h1>

@Html.Partial("_BirthdayForm")

<p>
    @Html.ActionLink("Tillbaka till lista med födelsedagar", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
