@{
    ViewBag.Title = "Hittar inte födelsedagen";
}
<h1>
    Hittar inte födelsedagen
</h1>
<p>
    Födelsedagen du efterfrågar finns inte eller har blivit borttaget.
</p>
<p>
    @Html.ActionLink("Tillbaka till lista med födelsedagar", "Index")
</p>
