@if (TempData["success"] != null)
{
    <div class="alert-box success">
        @TempData["success"]
        <a href="" class="close">×</a>
    </div>
}
@if (TempData["error"] != null)
{
    <div class="alert-box error">
        @TempData["error"]
        <a href="" class="close">×</a>
    </div>
}
