body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
  padding-left: 15px;
  padding-right: 15px;
}

/* Styles for basic forms
-----------------------------------------------------------*/
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
}
.form-group input:not([type=submit]) {
  width:200px;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}
.field-validation-valid {
    display: none;
}
.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}
.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}
.validation-summary-valid {
    display: none;
}