@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nästa födelsedag (version 0)</title>
</head>
<body>
    <h1>
        Nästa födelsedag (version 0)
    </h1>
    <form action="/version_0_birthday/index" method="post">
        <div>
            <label for="namn">Namn</label>:
        </div>
        <div>
            <input name="namn" type="text" />
        </div>
        <div>
            <label for="fodesledatum">Födelsedatum</label>:
        </div>
        <div>
            <input name="fodelsedatum" type="text" />
        </div>
        <div>
            <input type="submit" value="Skicka" />
        </div>
    </form>
</body>
</html>
