@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fel</title>
</head>
<body>
    <h1>Fel</h1>
    <p>Fel inträffade vid behandling av din begäran.</p>
</body>
</html>
