/* Styles for typographic base (Mats Loock | v1.0 | 2010-10-26)
------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, p
{
    margin: 0;
    padding: 0;
}
body, button, input, select
{
    font-family:"Times New Roman",Times,serif;
}
body
{
    font-size: 100%;
    line-height: 1.5em;
}
h1
{
    font-size: 3em;
    line-height: 1;
    margin-bottom: .5em;
}
h2
{
    font-size: 2em;
    margin-bottom: .75em;
}
h3
{
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
}
h4
{
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
}
h5
{
    font-size: 1em;
    margin-bottom: 1.5em;
}
h6
{
    font-size: 1em;
}
p
{
    margin-bottom: 1.5em;
}
button, input, select
{
    font-size: 1em;
}