@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Nästa födelsedag</title>
</head>
<body>
    <h1>
        Nästa födelsedag
    </h1>
    <form action="/" method="post">
    <div>
        <label for="namn">
            Namn</label>:
    </div>
    <div>
        <input name="namn" type="text" />
    </div>
    <div>
        <label for="fodesledatum">
            Födelsedatum</label>:
    </div>
    <div>
        <input name="fodelsedatum" type="text" />
    </div>
    <p>
        <input type="submit" value="Skicka" />
    </p>
    </form>
</body>
</html>
