@model NextBirthdayCRUD.Models.Birthday

@{
    ViewBag.Title = "Lägg till födelsedag";
}

<h1>Lägg till födelsedag</h1>

@Html.Partial("_BirthdayForm")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
